@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.title {
	font-family: Helvetica;
	size: 18px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;

	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
	-o-user-select:none;
}

h1 {
	color: #999;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none !important;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #555555;
    color: #eee;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #777777;
    font-size: 20px;
    font-weight: 300;
}

#sidebar ul.components {
    padding: 10px 0;
    border-bottom: 1px solid #777777;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    padding: 8px;
    margin-left: 10px;
    font-size: 1.1em;
    display: table-row;
    color: #fff;
}
#sidebar ul li:hover {
    color: #333333;
    background: #eee;
    cursor: pointer;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #666666;
    margin-left: 10px;
    /*
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px; */
}

ul ul {
    font-size: 0.9em !important;
    padding-left: 40px !important;
    background: #777777;
    color: #fff;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.content {
    /* width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s; */

    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    padding: 20px;
    min-height: 100vh;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    transition: all 0.3s;
}
