<h1>Measure ToT</h1>
<hr style="width: 100%; color: black; height: 1px; background-color:grey;" />


<button id="ToTStartButton" type="button" class="btn btn-primary"> <!--data-toggle="modal" data-target="#ToTModal"-->
  Start Measurement
</button>
<button id="ToTPlotButton" type="button" class="btn btn-secondary">
  Plot Settings
</button>

<!-- Measurement Modal -->
<div class="modal fade" id="ToTModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form>
		  <div class="form-group">
		    <label for="outputFileInput">Output file</label>
		    <input type="text" class="form-control" id="outputFileInput" placeholder="ToTMeasurement">
		  </div>
		  <div class="form-group">
		  	<label for="framesInput">Number of frames</label>
		  	<input type="number" class="form-control" id="framesInput" placeholder="1000">
    		<small id="framesInputHelp" class="form-text text-muted">Use 0 for infinite measurement.</small>
		  </div>
		  <div class="form-group">
		  	<label for="framesInput">Slot: </label>
			  <div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="slotCheckbox1" checked>
				<label class="form-check-label" for="slotCheckbox1">1</label>
			  </div>
			  <div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="slotCheckbox2">
				<label class="form-check-label" for="slotCheckbox2">2</label>
			  </div>
			  <div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="slotCheckbox3">
				<label class="form-check-label" for="slotCheckbox3">3</label>
			  </div>
		  </div>
		</form>

		<div id="ToTAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
		  <strong>Warning:</strong> You need to select at least one slot!
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="ToTStart" type="button" class="btn btn-primary">Start</button>
      </div>
    </div>
  </div>
</div>

<!-- Settings Modal -->
<div class="modal fade" id="PlotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form>
		  <div class="form-group">
		    <label for="plotHeight">Height</label>
		    <input type="number" class="form-control" id="plotHeight" placeholder="150">
		  </div>
		  <div class="form-group">
		  	<label for="plotWidth">Number of frames</label>
		  	<input type="number" class="form-control" id="plotWidth" placeholder="400">
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="PlotOkay" type="button" class="btn btn-primary">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Plot -->
<br>
<div id="ToTPlot"></div><br>

<!-- Progress bar -->
<div class="progress">
	<div id="progress" class="progress-bar" role="progressbar" aria-valuenow="0"
		aria-valuemin="0" aria-valuemax="100" style="width:0%">
	<div id="status"></div>
	</div>
</div><br>

<div id="ToTResult"></div>

<script>require('./measureToT.js')</script>	
